body{
	
	background: url("../images/nature.jpg") repeat-x fixed center bottom #DDDDDD;
}

#main
{
    margin-left: 10%;
	margin-right: 10%;
   /* width: 960px;	*/
	height: auto;
	background: url("../images/white-background.png") repeat scroll left top transparent;   
}

#header_main
{
    padding: 20px;
    position: relative;
	border: double;
	background-color: #A23626;
}

#header
{

}

h1
{
	color: white;
}

h4
{
	margin-bottom: 5px;
    margin-top: 15px;
}

#main-left
{
    float: left;
    margin: 7px;
    padding: 9px;
    width: 689px;
	border: double;
}

#main-right
{
    float: right;
    margin: 7px;
    padding: 5px;
	width: 240px;
	border: double;
}

#main-content
{
	height: auto;
    width: 100%;
}

#footer
{
	padding: 1px;
}

#footer-main
{
	clear: both;
	background: #717171;
	height: 64px;
    
}

h3
{
	text-align: center;
	color: white;
}

#menubar 
{
    padding-left: 10px;
}

#menulist
{
  padding-left: 6px;
}

#menulist li 
{
  list-style: none;
}

a 
{
  text-decoration: none;
  color: black;
}

#menulist a:hover,h4 a:hover
{
  text-decoration: none;
  color: #A23626;
}

.current h4 a,.current
{
	color: #A23626;
}

#main-left-photo
{
    float: left;
    margin-top: 20px;
    padding: 5px;
    width: 36%;
}

#main-left-content
{
    float: right;
    width: 62%;
}

#blog
{
    background: none repeat scroll 0 0 #F5F6E7;
    border: 1px solid #BCBE9F;
    font-family: inherit;
    font-size: 16px;
    overflow: hidden;
    padding: 0 9px;
}

#blog_archive ul
{
	padding: 0px;
	margin-left: 0px;
}

.hierarchy li
{
	padding-left: 10px;
}

#blog_archive
{
    font-size: 15px;
}

.posts li
{
	padding-left: 20px;
}

.post-footer
{
   /* background-color: #F9F9F9;*/
    border-bottom: 1px solid #EEEEEE;
    line-height: 1.6;
    margin-top: 6px;
    padding: 5px 10px;
	font-family: inherit;
    font-size: 16px;
	list-style: none;
}

#comments_div
{
    line-height: 1.6;
    margin-top: 6px;
    padding: 5px 10px;
	font-family: inherit;
    font-size: 16px;
	list-style: none;
}


#comment
{
	min-height: 60px;
}

.image-container
 {
	float: left;
    overflow: hidden;
	padding: 3px;
	width: 7%;
}

.comment-content
{
    float: right;
    padding-left: 12px;
    width: 90%;
}

#comments_div li
{
   
}

#comment-box
{

}

.reply
{
	text-decoration: underline
}