body{
	
	background: url("../images/nature.jpg") repeat-x fixed center bottom #DDDDDD;
}

#main
{
    margin-left: 10%;
	margin-right: 10%;
    max-width: 100%;	
	height: auto;
	background: url("../images/white-background.png") repeat scroll left top transparent;   
}

#header_main
{
    padding: 20px;
    position: relative;
	border: double;
	background-color: #A23626;
}

#header
{

}

h1
{
	color: white;
}

p,h4
{

}

#main-left
{
    float: left;
    margin: 7px;
    padding: 9px;
    width: 783px;
	border: double;
}

#main-right
{
    float: right;
    margin: 7px;
    padding: 5px;
	width: 206px;
	border: double;
}

#main-content
{
	height: auto;
    width: 100%;
	padding-bottom: 7px;
}

#footer
{
	padding: 1px;
}

#footer-main
{
	clear: both;
	background: #717171;
	height: 64px;
    
}

h3
{
	text-align: center;
	color: white;
}

#menubar 
{
    padding-left: 10px;
}

#menulist li 
{
  list-style: none;
}

#menulist li a 
{
  text-decoration: none;
  color: black;
}

#menulist li a:hover 
{
  text-decoration: none;
  color: #A23626;
}

#main-left-photo
{
    float: left;
    margin-top: 20px;
    padding: 5px;
    width: 36%;
}

#main-left-content
{
    float: right;
    width: 62%;
}