#header
{ 
  width: 1263px;
  position: fixed;
}

#body_content
{
  height: auto;
}

img
{
  height: 143px;
  width: 1263px;
}

#message
{
    padding: 214px;
    width: 824px;
}

#message_left
{
  float: left;
  height: 500px;
  width: 600px;
}

#message_right
{
  float: right;
  height: 500px;
  width: 600px;
}

#footer
{
  background-color: black;
  clear: both;
}

#footer_content
{
  color: white;
}